<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Tweet Log</title>
  <meta name="author" content="Ron Huang" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  <link rel="stylesheet" href="/css/button.css" type="text/css" />
  <script type="text/javascript"
          src="http://www.google.com/jsapi?key=ABQIAAAAp4Y2BcCyfUwcS_U7UAFmiBT61j1l2Eev-fcOj2BSQjb3ic9toxSaej_H4E1ykmZsP_aNpg-MtSpC6g">
  </script>
  <script type="text/javascript">
    //<![CDATA[
    google.load("jquery", "1.4.2");
    //]]>
  </script>
</head>

<body id="info">
<div id="site">

  <div id="header">
    <h1>
      <a href="/">Tweet Log</a>
    </h1>
    <ul class="nav">
      <li><a class="home" href="/">Home</a></li>
      {% if signed_in %}
      <li><a class="info" href="/manage">@{{ screen_name }} (Manage)</a></li>
      <li><a class="code" href="/sign_out">Sign Out</a></li>
      {% else %}
      <li><a class="info" href="/sign_in">
          <img src="/img/Sign-in-with-Twitter-lighter.png"
               height="17px"
               alt="Sign in with Twitter" />
      </a></li>
      {% endif %}
    </ul>
  </div>

  <div id="page">
    <h1 id="welcome">Manage</h1>

    {% if not signed_in %}

    <p>Please sign in first.</p>

    {% else %}

    <p>Specify the tweets you wish to collect (<a href="#" id="toggle_help">help</a>.)</p>

    <script>
      //<![CDATA[
      $('#toggle_help').click(function() {
        if ($('#help').is(':hidden')) {
          $('#help').slideDown('slow');
        } else {
          $('#help').slideUp('slow', function() {
            $('#help').hide();
          });
        }
        return false;
      });
      //]]>
    </script>

    <div id="help" style="display:none;">
    <div class="section">
      <h1 id="research">Search</h1>

      <p>The term you with to search. For example:</p>

      <pre>#hash_tag</pre>
      <pre>@screen_name</pre>
      <pre>keyword</pre>
    </div>

    <div class="section">
      <h1 id="research">Filter</h1>

      <p>Specify the users (separated with comma) you wish to filter. For example:</p>

      <pre>LordPalpatine, yoda, TheObiWanKenobi, darthvader</pre>
    </div>
    </div>

    <p>FIXME</p>

    {% endif %}

  </div>

  <div id="footer">
    <address>
      <span class="copyright">
        Content by <a href="http://ronhuang.org/">Ron Huang</a>
        &amp; Design by
        <a href="http://mark.reid.name/info/site.html">Mark Reid</a>
        <br/>
        (<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some rights reserved</a>)
      </span>
      <span class="engine">
        Powered by
        <a href="http://code.google.com/appengine/">Google App Engine</a>
      </span>
    </address>
  </div>

</div>
</body>
</html>
