<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Tweet Log</title>
   <meta name="author" content="Ron Huang" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>

<body id="Home">
<div id="site">

  <div id="header">
    <h1>
      <a href="/">Tweet Log</a>
    </h1>
    <ul class="nav">
      <li><a class="info" href="/manage">[account name]</a></li>
      <li><a class="code" href="/logout">[log out]</a></li>
    </ul>
  </div>

  <div id="page">
    <!--<img class='inset right' title='Mark Reid' src='/images/mark_reid.jpg' alt='Photo of Mark Reid drinking a coffee' width='120px' />-->
    <h1 id='welcome'>Welcome</h1>

    <p>Tweet Log collects tweets that match the search criteria and
    retweet them in your Twitter account.</p>

<div class='section'>
<h1 id='research'>Research</h1>

<p>My day job is as a <a href='/work'>Research Fellow</a> in statistical machine learning at the Australian National University&#8217;s Research School of Information Sciences and Engineering.</p>
</div>

<div class='section'>
<h1 id='blogs'>Blogs</h1>

<p>I keep a research blog called <em><a href='/iem'>Inductio ex Machina</a></em> on machine learning and statistics. Recent posts include:</p>
<ul class='compact recent'>
<li>
    <a href='/iem/prediction-services.html' title='Thoughts on a number of recent prediction services including the Google Prediction API.'>Prediction Services</a>
    <span class='date'>21 May 2010</span>
</li>
</ul><ul class='compact recent'>
<li>
    <a href='/iem/attending-aistats.html' title='I will be attending AISTATS 2010 and presenting a poster on a characterisation of the convexity of composite binary losses.'>Attending AISTATS</a>
    <span class='date'>09 May 2010</span>
</li>
</ul><ul class='compact recent'>
<li>
    <a href='/iem/upcoming-alt-ds.html' title='I&apos;m a local organiser for two upcoming international conferences. This is a shameless bit of promotion.'>Upcoming ALT and DS Conferences</a>
    <span class='date'>13 Apr 2010</span>
</li>
</ul></div>

<div class='section'>
<p>I have also just started a programming blog called <em><a href='/sap'>Structure &amp; Process</a></em>.</p>
<ul class='compact recent'>
<li>
    <a href='/sap/clojure-cjug-talk.html' title='Some links and brief notes about a recent talk I gave to the Canberra Java User&apos;s Group.'>A Java Sightseer's Guide to Clojure</a>
    <span class='date'>14 Mar 2010</span>
</li>
</ul><ul class='compact recent'>
<li>
    <a href='/sap/online-learning-in-clojure.html' title='In an attempt to better familiarise myself with online learning and Clojure I implemented the former in the latter.'>Online Learning in Clojure</a>
    <span class='date'>14 Jul 2009</span>
</li>
</ul><ul class='compact recent'>
<li>
    <a href='/sap/minilight-clojure-triangles.html' title='This is the second part of my attempt to port the Minilight ray-tracer to Clojure. This time it is triangles. Some bugs are found and fixed in the vector package.'>Minilight in Clojure: Triangles</a>
    <span class='date'>11 Apr 2009</span>
</li>
</ul></div>

<div class='section'>
<h1 id='twitter'><a href='http://twitter.com/mdreid'>Twitter</a></h1>

<p id='twitter_update_list'>Contacting Twitter&#8230;</p>
</div>

<div class='section'>
<h1 id='reading'><a href='http://librarything.com/home/mdreid'>Reading</a></h1>
<script type='text/javascript' src='http://www.librarything.com/jswidget.php?reporton=mdreid&show=recent&header=&num=8&covers=small&text=title&tag=show&css=0&style=2&version=1'> </script></div>
</div>



  <div id="footer">
    <address>
        <span class="copyright">
            Content &amp; Design by
            <a href="/info/site.html">Mark Reid</a>
            <br/>
            (<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some rights reserved</a>)
        </span>
        <span class="engine">
            Powered by
            <a href="http://github.com/mreid/jekyll/" title="A static, minimalist CMS">Jekyll</a>
        </span>
    </address>
  </div>

</div>
</body>
</html>
