<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Tweet Log</title>
  <meta name="author" content="Ron Huang" />
  <link rel="stylesheet" href="/css/form.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  <link rel="stylesheet" href="/css/button.css" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
  </script>
  <script>
    //<![CDATA[
    $(function() {
      $('#toggle_term_help').click(function() {
        if ($('#term_help').is(':hidden')) {
          $('#term_help').slideDown('slow');
        } else {
          $('#term_help').slideUp('slow', function() {
            $('#term_help').hide();
          });
        }
        return false;
      });
    });

    $(function() {
      $('#toggle_filter_help').click(function() {
        if ($('#filter_help').is(':hidden')) {
          $('#filter_help').slideDown('slow');
        } else {
          $('#filter_help').slideUp('slow', function() {
            $('#filter_help').hide();
          });
        }
        return false;
      });
    });

    $(function() {
      $('#save').click(function() {
        $('#result').hide();
        $('#loading').show();

        $.ajax({
          type: 'POST',
          url: '/save',
          data: $('#target').serialize(),
          success: function(data) {
            sr = $('#result');
            sr.removeClass('error');
            sr.html('Success.');
            sr.slideDown('slow').delay(3000).slideUp('slow');
          },
          error: function() {
            sr = $('#result');
            sr.addClass('error');
            sr.html('Fail.');
            sr.slideDown('slow');
          },
          complete: function() {
            $('#loading').hide();
          }
        });
      });
    });

    $(function() {
      $('#preview').click(function() {
        $('#result').hide();
        $('#preview_sec').hide();
        $('#loading').show();

        $.ajax({
          url: '/preview?' + $('#target').serialize(),
          success: function(data) {
            if (data.length > 0) {
              $('#preview_box').html(data);
              $('#preview_sec').slideDown('slow');
            } else {
              sr = $('#result');
              sr.removeClass('error');
              sr.html('Empty.');
              sr.slideDown('slow');
            }
          },
          error: function() {
            sr = $('#result');
            sr.addClass('error');
            sr.html('Fail.');
            sr.slideDown('slow');
          },
          complete: function() {
            $('#loading').hide();
          }
        });
      });
    });
    //]]>
  </script>
</head>

<body id="info">
<div id="site">

  <div id="header">
    <h1>
      <a href="/">Tweet Log</a>
    </h1>
    <ul class="nav">
      <li><a class="home" href="/">Home</a></li>
      {% if signed_in %}
      <li><a class="info" href="/manage">@{{ screen_name }} (Manage)</a></li>
      <li><a class="code" href="/sign_out">Sign Out</a></li>
      {% else %}
      <li><a class="info" href="/sign_in">
          <img src="/img/Sign-in-with-Twitter-lighter.png"
               height="17px"
               alt="Sign in with Twitter" />
      </a></li>
      {% endif %}
    </ul>
  </div>

  <div id="page">
    <h1 id="welcome">Manage</h1>

    {% if not signed_in %}

    <p>Please sign in first.</p>

    {% else %}

    <p>Provide the search term and list of users you wish to collect
    tweets from</p>

    <form id="target">

    <div class="section">
      <h1 id="search">Search</h1>

      <input type="text" name="term" value="{{ term }}" class="term" />
      <img src="/img/question.png" alt="Show help" class="help" id="toggle_term_help" />

      <div id="term_help">
        <p>The term you with to search. For example:</p>
        <pre>#hash_tag</pre>
        <pre>@screen_name</pre>
        <pre>keyword</pre>
      </div>
    </div>

    <div class="section">
      <h1 id="filter">Filter</h1>

      <select name="list_id" class="filter">
        <option value="">Please select...</option>
        {% for l in lists %}
        {% ifequal l.id list_id %}
        <option value="{{ l.id }}" selected="selected">{{ l.full_name }}</option>
        {% else %}
        <option value="{{ l.id }}">{{ l.full_name }}</option>
        {% endifequal %}
        {% endfor %}
      </select>
      <img src="/img/question.png" alt="Show help" class="help" id="toggle_filter_help" />

      <div id="filter_help">
        <p>Specify the list of users you wish to filter. Please modify
          the list from your favorite Twitter client.</p>
      </div>
    </div>

    <div class="section">
      <input type="button" value="Preview" id="preview" />
      <input type="button" value="Save" id="save" />
    </div>

    </form>

    <div class="section">
      <img src="/img/ajax-loader.gif" alt="Please wait..."
           id="loading" style="display:none" />
    </div>

    <div class="section">
      <pre id="result" style="display:none"></pre>
    </div>

    <div class="section" style="display:none" id="preview_sec">
      <h1>Preview</h1>

      <p>Preview of the tweets from the above criteria.</p>

      <div id="preview_box"></div>
    </div>

    {% endif %}

  </div>

  <div id="footer">
    <address>
      <span class="copyright">
        Content by <a href="http://ronhuang.org/">Ron Huang</a>
        &amp; Design by
        <a href="http://mark.reid.name/info/site.html">Mark Reid</a>
        <br/>
        (<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some rights reserved</a>)
      </span>
      <span class="engine">
        Powered by
        <a href="http://code.google.com/appengine/">Google App Engine</a>
      </span>
    </address>
  </div>

</div>
</body>
</html>
